<div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5 dropdown" @enterState>
      <div class="input-container">
        <p>Ver saldos al 12/18</p>
        <div class="input">
          <input type="text" placeholder="Buscar Productos">
          <img src="https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png" alt="">
        </div>
      </div>
      <div class="resumen">
        <p class="cuenta">Cuentas Corrientes</p>
        <p class="saldo"> $ 10.256,00 <img (click)="toggle()" src="https://img.icons8.com/material-rounded/24/000000/sort-down.png"></p>
      </div>
      <div [@openClose]="isOpen ? 'open' : 'closed'">
      <div class="titles">
        <div class="col-9">
          <p class="nombre">NOMBRE</p>
        </div>
        <div class="col-3" >
          <p class="saldo">SALDO</p>
        </div>
      </div>
      <div class="orden">
        <p>Ordenar por</p>
      </div>
      <div>
        <div class="detail" *ngFor="let cuenta of cuentas" >
          <p>{{cuenta.tipo}} {{cuenta.numero}}</p>
          <span>$ {{cuenta.saldo}},00</span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>