<div class="col-3 cotizaciones">
  <!-- <div class="cotizaciones"> -->
    <div class="col-12 dropdown-cotizaciones">  
      <p>Cotizaciones</p>
      <img src="https://img.icons8.com/material-rounded/24/000000/sort-down.png">
    </div> 
    <ng-container>
      <div class="animate-cotizaciones">

      <div class="col-12 titulo-cotizacion">
          <p>pizarra</p>
        </div>
        <div class="row">
          <div class="moneda">
            <p>Moneda</p>
          </div>
          <div class="compra">
            <p>Compra</p>
          </div>
          <div class="venta">
            <p>Venta</p>
          </div>
        </div>
        <div class="row tabla-usd">
          <div class="col-4">
            <p>USD</p>
          </div>
          <div class="col-4">
            <p>36,24</p>
          </div>
          <div class="col-4">
            <p>42,41</p>
          </div>
        </div>
        <div class="row tabla-eur">
          <div class="col-4">
            <p>EUR</p>
          </div>
          <div class="col-4">
            <p>33,25</p>
          </div>
          <div class="col-4">
            <p>36,25</p>
          </div>
        </div>
        <div class="col-12 titulo-cotizacion">
            <p>interno</p>
          </div>
          <div class="row">
            <div class="moneda">
              <p>Moneda</p>
            </div>
            <div class="compra">
              <p>Compra</p>
            </div>
            <div class="venta">
              <p>Venta</p>
            </div>
          </div>
          <div class="row tabla-usd">
            <div class="col-4">
              <p>USD</p>
            </div>
            <div class="col-4">
              <p>36,24</p>
            </div>
            <div class="col-4">
              <p>42,41</p>
            </div>
          </div>
          <div class="row tabla-eur">
            <div class="col-4">
              <p>EUR</p>
            </div>
            <div class="col-4">
              <p>33,25</p>
            </div>
            <div class="col-4">
              <p>36,25</p>
            </div>
          </div>

      </div>
    </ng-container>
    
  <!-- </div>   -->
</div>
